<footer>
  <a href="https://github.com/JahirMendoza">GitHub</a> |
  <a href="https://webpages.charlotte.edu/jmolina6/">CLT Web</a> |
  <a href="https://JahirMendoza.github.io">GitHub.io</a> |
  <a href="https://www.freecodecamp.org/jmolina6">freeCodeCamp</a> |
  <a href="https://www.linkedin.com/in/jahirmendz/">LinkedIn</a>

  <p>
    <a href="https://validator.w3.org/check?uri=referer">HTML Validation</a>
  </p>

  <script src="https://farawayforests.com/cdn/accumulus/accumulus.min.js"></script>
  <script>Accumulus.init();</script>
</footer>
